{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container">
    <div class="row mb-4">
        <!-- Featured Blog Post -->
        {% with posts|slice:":1" as featured_post %}
        {% for post in featured_post %}
        <div class="col-12 mb-3">
            <div class="card">
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="card-img-top img-fluid">
                <div class="card-body">
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <p class="card-text text-muted h6">{{ post.created_on }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endwith %}
    </div>

    <!-- Grid Layout for Other Blog Posts -->
    <div class="row">
        {% with posts|slice:"1:" as other_posts %}
        {% for post in other_posts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="card-img-top img-fluid">
                <div class="card-body">
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <p class="card-text text-muted h6">{{ post.created_on }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
</div>



<!-- index.html content ends here -->
{% endblock %}